/*

!.gitignore

!readme.md
!.readme
!.readme/*.png

!meshes
!meshes/linear.mdpa
!meshes/quadratic.mdpa
!meshes/consistent_linear.mdpa
!meshes/consistent_quadratic.mdpa

!rbe1_process.py

!solvers
!solvers/*.json

!ProjectParameters.json
!StructuralMaterials.json
!MainKratos.py
!diff.py
!filter.py
!plot.py
!run.sh
!plot_props.sh
