*
!.gitignore
!CMakeLists.txt

!drivers
!drivers/*.cpp

!include
!include/UtilityApp
!include/UtilityApp/*.hpp

!src
!src/*.cpp

!bindings
!bindings/*.hpp
!bindings/*.cpp

!cases
!cases.gitignore

!tests
!tests/*.cpp
!tests/*.py

!scripts
!scripts/*.sh
!scripts/*.py
