/*

!.gitignore
!.gitattributes

!readme.md
!.readme
!.readme/*.png
!.readme/*.kra

!meshes
!meshes/linear.mdpa
!meshes/quadratic.mdpa
!meshes/consistent_linear.mdpa
!meshes/consistent_quadratic.mdpa

!make_multifreedom_constraints_process.py
!manual_restriction.py

!solvers
!solvers/*.json

!main.json
!materials.json
!main.py
!run.sh
