[submodule "external/kratos"]
	path = src/kratos
	url = https://github.com/matekelemen/kratos.git
[submodule "applications/WRApplication"]
	path = src/WRApplication
	url = https://github.com/matekelemen/wrapp
[submodule "applications/BenchmarkApplication"]
	path = src/BenchmarkApplication
	url = https://github.com/matekelemen/BenchmarkApplication
