[submodule "external/kratos"]
	path = external/kratos
	url = https://github.com/matekelemen/kratos.git
[submodule "external/cie"]
	path = external/cie
	url = https://github.com/matekelemen/cie.git
[submodule "applications/WRApplication"]
	path = applications/WRApplication
	url = https://github.com/matekelemen/wrapp
[submodule "applications/BenchmarkApplication"]
	path = applications/BenchmarkApplication
	url = https://github.com/matekelemen/BenchmarkApplication
