/*

!.gitignore
!.gitattributes

!readme.md
!.readme
!.readme/*.png
!.readme/*.kra

!make_multifreedom_constraints_process.py
!make_point_load_conditions_process.py

!main.json
!materials.json
!pmgbs.json
!defaultbs.json

!main.py
!run.sh
