/*

!.gitignore

!readme.md
!.readme
!.readme/*.png
!.readme/*.kra

!meshes
!meshes/linear.mdpa
!meshes/quadratic.mdpa

!pmgbs.json
!defaultbs.json

!make_multifreedom_constraints_process.py

!main.py
!main.json
!materials.json
