/*

!.gitignore
!.gitattributes

!readme.md
!.readme
!.readme/*.pvcc
!.readme/trebuchet_arm_explode.hdf

!meshes
!meshes/linear.mdpa
!meshes/quadratic.mdpa
!meshes/supersonic_trebuchet_mk2.zip
!trebuchet_arm_explode.stl
!trebuchet_arm.hdf

!make_point_load_conditions_process.py
!rbe2_process.py
!rbe3_process.py

!solvers
!solvers/*.json

!main.json
!no_mpc.json
!materials.json
!main.py
