/*

!.gitignore
!.gitattributes

!readme.md
!.readme
!.readme/*.png
!.readme/*.kra

!meshes
!meshes/meshes.tar.gz

!make_multifreedom_constraints_process.py
!make_point_load_conditions_process.py
!plot_performance.py

!solvers
!solvers/*.json

!main.json
!materials.json
!main.py
!run.sh
!pmgbs.json
!defaultbs.json
